<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Subscription Management System</title>
<!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
	<div th:replace="menu :: menu"></div>
	<div class="container my-2">
	<h1>Subscription List</h1>
    <a th:href = "@{/showNewCustomerForm}" class="btn btn-primary btn-sm mb-3" style="margin-bottom: 5px;"> Add Customer </a> <br />
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							Customer First Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
							Customer Last Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
							Customer Email</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=subscription&sortDir=' + ${reverseSortDir}}">
							Subscription Type</a>
					</th>					
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td th:text="${customer.firstName}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.subscription}"></td>
					<td> 
					     <a th:href="@{/viewCustomerSubs/{id}(id=${customer.id})}" class="btn btn-primary">Subscription</a>
					     <a th:href="@{/deleteCustomer/{id}(id=${customer.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>