<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Subscription Management System</title>
<!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
  <body id="samples">
	<div class="container">
		<h1>Subscription Management System</h1>
		<hr>
		<h2>Save Customer</h2>

		<form action="#" th:action="@{/saveCustomer}" th:object="${customer}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				placeholder="Customer First Name" class="form-control mb-4 col-4" style="margin-bottom: 5px;">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Customer Last Name" class="form-control mb-4 col-4" style="margin-bottom: 5px;">
				
				<input type="text" th:field="*{email}"
				placeholder="Customer Email" class="form-control mb-4 col-4" style="margin-bottom: 5px;">
				
				<input type="text" th:field="*{password}"
				placeholder="Customer Password" class="form-control mb-4 col-4" style="margin-bottom: 5px;">				
				
				<button type="submit" class="btn btn-info col-2"> Save Customer</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/customers}"> Back to Customer List</a>
	</div>
</body>
</html>